In [4]:
#Importing required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [5]:
! ls

InsuranceClaimPrediction.html    desktop.ini
InsuranceClaimPrediction02.ipynb insurance2.csv
Untitled.ipynb

In [6]:
#Loading the dataset
df_claim = pd.read_csv('insurance2.csv')

In [7]:
#viewing the data 
df_claim.head()

   age  sex     bmi  children  smoker  region      charges  insuranceclaim
0   19    0  27.900         0       1       3  16884.92400               1
1   18    1  33.770         1       0       2   1725.55230               1
2   28    1  33.000         3       0       2   4449.46200               0
3   33    1  22.705         0       0       1  21984.47061               0
4   32    1  28.880         0       0       1   3866.85520               1

In [8]:
#Checking for any null values
df_claim.isna().any()

age               False
sex               False
bmi               False
children          False
smoker            False
region            False
charges           False
insuranceclaim    False
dtype: bool

In [ ]:
#Finding the correlation of every pair of features (and the outcome variable).
fig, axs = plt.subplots(1, 3, sharey=True)
data.plot(kind='scatter', x='age', y='Sales', ax=axs[0], figsize=(16, 8))
data.plot(kind='scatter', x='Radio', y='Sales', ax=axs[1])
data.plot(kind='scatter', x='Newspaper', y='Sales', ax=axs[2])